<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    [ngClass]="{ hidden: !(isHandset$ | async) }"
    fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">RESIDENTIAL SYSTEMS</a>
      <a mat-list-item href="#">COMMERCIAL SYSTEMS</a>
      <a mat-list-item href="#">HOW WE WORK</a>
      <a mat-list-item href="#">ABOUT</a>
      <a mat-list-item href="#">CONTACT US</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <img src="assets/img/logo.png" />

      <div *ngIf="!(isHandset$ | async)">
        <ul>
          <li>RESIDENTIAL SYSTEMS</li>
          <li>COMMERCIAL SYSTEMS</li>
          <li>HOW WE WORK</li>
          <li>ABOUT</li>
          <li>CONTACT US</li>
        </ul>
      </div>

      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
