.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

// @media (min-width: 768px) {
//   .sidenav {
//     display: none;
//   }
// }

.hidden {
  display: none;
}

mat-toolbar {
  z-index: 10 !important;
  position: fixed !important;
  top: 0;
  height: 90px;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;

  > img {
    height: 100%;
  }

  ul {
    display: flex;
    list-style: none;
    padding-left: 0;

    li {
      margin: 0 1rem;
      cursor: pointer;
      transition: all 0.2s ease;
      &:hover {
        color: black;
      }
      font-size: 1rem;
    }
  }

  .container {
    position: absolute;
    color: black;
    top: 100px;
    right: 0;
  }
}

mat-sidenav-container {
  overflow: overlay;
  overflow-x: hidden;
  // outline: solid 10px yellow;
}
mat-sidenav-content {
  overflow: overlay;
  overflow-x: hidden;
}
