@use "src/assets/css/variables" as v;
@use "src/assets/css/breakpoints" as b;

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

// .mat-toolbar.mat-primary {
//   position: sticky;
//   top: 0;
//   z-index: 1;
// }

a {
  border-bottom: solid 3px transparent;
  transition: all 0.2s ease;
  &:hover {
    color: v.$red;
    border-bottom: solid 3px v.$red;
  }
}

mat-sidenav {
  // background: orange;
  display: flex;
  align-items: center;
  width: 60% !important;
  max-width: 300px;

  mat-nav-list {
    width: 100%;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    height: 400px;
    // background: yellow;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

$border-bottom-h: 2px;

mat-toolbar {
  z-index: 1;
  position: fixed;
  background: white;
  border-bottom: $border-bottom-h solid v.$blue;
  top: 0;
  height: v.$nav-h;
  padding: v.$gutter-w-hero;
  display: flex;
  justify-content: space-between;

  > img {
    height: 100%;
  }

  ul {
    display: flex;
    list-style: none;
    padding-left: 0;

    li {
      color: black;
      margin: 0 1rem;
      cursor: pointer;
      font-size: 1rem;

      a {
        padding: 0.5rem 0;
      }
    }
  }

  .img-right {
    height: calc(#{v.$nav-h - #{$border-bottom-h}});
    position: absolute;
    right: 0;
    top: 0;
  }

  .container {
    position: absolute;
    color: black;
    top: calc(#{v.$nav-h} + #{v.$gutter-w-hero});
    right: v.$gutter-w-hero;
    display: flex;
    justify-content: space-between;

    width: 250px;

    .instagram {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    // hide on mobile
    @media (max-width: #{b.$desktop}) {
      display: none;
    }
  }
}

mat-sidenav-content {
  overflow: overlay; // scrollbar over content
}

.show-desktop-only {
  @media (max-width: #{b.$desktop}) {
    display: none;
  }
}
.hide-desktop-only {
  @media (min-width: #{b.$desktop}) {
    display: none;
  }
}

.hidden {
  display: none;
}
