<section>
  <div class="A">
    <p class="super-title">
      WHILE YOU WERE OUT, THE BAD GUYS WERE TRYING TO GET IN
    </p>
    <h3>SECURITY CAMERA INSTALLATION OKC</h3>
    <p>
      When it’s closing time or vacation time, is everything you’ve worked for
      protected to the highest degree?
    </p>
    <p>
      If there’s no surveillance system installed, the answer is NO. When the
      world feels uncertain, 24-hour surveillance of your home or business is a
      must. If you’re out of sight, your property isn’t out of mind, but top of
      mind for the bad guys.
    </p>
    <p>
      At Camera Guys, we think of surveillance systems as more than cameras.
      It’s an extension of YOU and how diligently you protect your investments.
      Whether it’s expensive equipment, prized vehicles, livestock or family
      safety, our surveillance systems will watch over your home or business
      24/7/365.
    </p>
  </div>
  <div class="B">B</div>
</section>
