.green {
  color: green;
}
.blue {
  color: blue;
}
.small {
  font-size: 0.5rem;
}
.big {
  font-size: 2rem;
}

div {
  // height: 100vh;
  padding: 2rem;
  background: white;

  .signature,
  .signature-name {
    display: block;
  }
}
