.green {
  color: green;
}
.blue {
  color: blue;
}
.small {
  font-size: 0.5rem;
}
.big {
  font-size: 2rem;
}

.fuck {
  height: 100vh;
  background: darkorange;
}
mat-toolbar > img {
  height: 100px;
}
